*,
*::after,
*::before {
	box-sizing: border-box;
}

html{
	scroll-behavior:smooth;
	word-break: break-word;
}

body{
	box-shadow: 0px 12px 40px rgba(0, 0, 0, 0.08);
	background: linear-gradient(180deg, #F5F5FA 0%, #F2DAD5 44.15%, #A1ABD6 100%) no-repeat;
	font-family: $primary-font;
	font-weight: 500;
	font-size: 15px;
	line-height: 22px;
	color: $text-color;
}

h1,h2,h3,h4,h5,h6{
	font-weight: 400;
}

a,
button,
span,
li,
svg {
	transition: $transition;
}

a{
	color: $main-color;
	font-size: 14px;
	line-height: 18px;
	text-decoration: none;
	display: inline-block;

	&:hover {
		color: $primary-color;
	}
}

button{
	font-family: $primary-font;
	cursor: pointer;
}

img{
	object-fit: cover;
    width: 100%;
}

.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100%;
}

.main {
	flex: 1 0 auto;
}

.footer {
	flex: 0 0 auto;
}

.container-xl {
	max-width: 1314px;
	margin: 0 auto;
	padding: 0 24px;
}

.container{
	max-width: 998px;
	margin: 0 auto;
	padding: 0 16px;
}

.title{
	font-size: 40px;
	line-height: 60px;
	color: $main-color;

	@include for-mobile {
		    font-size: 36px;
	}
}